// try to make footer stay at bottom of page
body, html {
  min-height: 100%;
}

.app-container {
  // trying to make footer stick to the bottom
  min-height: calc(100vh - 82px);
}

.loader {
  border: 16px solid black;
  border-top: 16px solid $genius-yellow;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}