.browse-main {
  max-width: 1000px;
  margin: 0 auto;
}

.alphabet-container {
  display: flex;
  justify-content: center;
}

.alphabet-clicking {
  display: flex;
  justify-content: center;

  margin-top: 25px;
  padding-right: 50px;
  border-right: 5px solid $genius-blue;
}

.browse-1, .browse-2, .browse-3 {
  margin: 0 auto;
  display: flex;
}

.browse-1 {
  margin-left: 5px;
}

.browse-2-contain {
  display: flex;
  justify-content: center;
}

.browse-letter {
  margin: 20px;
}

.browse-letter:hover {
  cursor: pointer;
  color: $genius-blue;
}

.alphabet-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 50px;
}

.alphabet-prompt h1 {
  margin-bottom: 10px;
}

.alphabet-prompt a:hover {
  cursor: pointer;
  color: $genius-blue;
}


// BELOW THE ALPHABET HERE
.below-alphabet {
  margin-left: 100px;
  margin-top: 50px;
}

.below-alphabet a:hover {
  cursor: pointer;
  color: $genius-blue;
}

.below-alphabet li {
  margin-bottom: 10px;
}


