.browse-container {
  display: flex;
  justify-content: center;
}

.alphabet-clicking {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}

.browse-options {
 
}

.browse-1, .browse-2, .browse-3 {
  display: flex;
}

.browse-2-contain {
  display: flex;
  justify-content: center;
}

.browse-letter {
  margin: 20px;
}

.browse-letter:hover {
  cursor: pointer;
  color: $genius-blue;
}

