.footer-container {
  min-height: 100px;
  width: 100%;
  background: #000;
  // trying to make it stick to the bottom
  position: absolute;
  bottom: 0;
}

.footer-link-container {
  display: flex;
  justify-content: center;
  height: 100px;
  color: #ffff64;
  padding: 15px;
}

.footer-link {
  padding: 15px;
  margin-top: 25px;
  cursor: pointer;
}

.footer-link:hover {
  color: #7d8fe8;
}