.footer-container {
  min-height: 100px;
  width: 100%;
  background: #000;
  // trying to make it stick to the bottom
  position: absolute;
  bottom: 0;
}

.footer-link-container {
  display: flex;
  justify-content: center;
  height: 100px;
  color: #ffff64;
  padding: 15px;
}

.footer-link {
  padding: 15px;
  margin-top: 25px;
  cursor: pointer;
}

.footer-link:hover {
  color: #7d8fe8;
}

//ABOUT
.about-center {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 800px;
}

.about-main h1 {
  text-transform: uppercase;
  color: $genius-blue;
  margin: 25px 0 25px 0;
}

.about-main p {
  margin-bottom: 10px;
}

.about-the-app {
  line-height: 1.5;
}

.about-the-app ul {
  list-style-type: circle;
}

.about-the-app li {
  margin-left: 50px;
}

.about-the-app ul li:hover {
  cursor: pointer;
  color: $genius-blue;
}

