.main-header {
  width: 100%;
  height: 41px;
  background-color: #ffff64;
  font-family: Programme, sans-serif;

  display: flex;
}

/* BELOW IS FOR GENIUS LOGO */

.genius-logo {
  height: 41px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-size: 23px;
  font-family: 'Courier New', Courier, monospace;
  color: #ffff64;
  font-weight: 900;
  text-shadow: -2px 2px 0px black;
}

/* ABOVE IS FOR GENIUS LOGO */

/* BELOW IS FOR RIGHT NAV*/

.greeting {
  display: flex;

  height: 41px;
  font-size: .75em;
}

.greeting-action {
  display: block;
  margin-top: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
}

.greeting-action:hover {
  border-bottom: 5px solid #ff1464;
}

.greeting-message {
  color: #ff1464;
  height: 41px;
  padding-top: 15px;
}

/* ABOVE IS FOR RIGHT NAV */