.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
  color: #ff1464;
  border: 1px solid #ff1464;
  border-radius: 5px;
  padding: 0 7px 0 7px;
}

.modal-close:hover {
  color: #ffff64;
}