.track-info-bar {
  box-sizing: border-box;
  height: 280px;
  background: #000;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}

.track-detail-bucket {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}

.album-image {
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  background: gray;
}

.track-info {
  margin-left: 15px;
}

.track-info > h1 {
  text-transform: uppercase;
  color: $genius-yellow;
  font-size: 30px;
  margin-top: 10px;
}

.track-info > h2 {
  text-transform: capitalize;
  color: white;
  font-size: 23px;
}

.track-info > h4 {
  margin-top: 15px;
  color: gray;
  font-size: 18px;
}