.home-page {
  display: flex;
  justify-content: center;
}

.track-index-header {
  padding: 10px;
  border-bottom: 2px solid black;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
}

.track-index {
  // the below line was causing whitespace to appear below footer in HTML container
  // margin: 40px 40px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 40px;
  width: 60%;
  max-width: 1000px;
}

.track-index-item {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid gray;

  display: flex;
  justify-content: space-between;
}

.left-track-index {
  display: flex;
}

.track-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-item-info > h2 {
  margin-left: 25px;
   font-size: 30px;
}

.track-item-info > h4 {
  margin-left: 25px;
}

.track-index-item:hover {
  background-color: gray;
}

.rank-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-three-ranks {
  border: 2px solid black;  
}

.all-track-ranks, .top-three-ranks {
  box-sizing: border-box;
  font-size: 20px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-track-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-annotations {
  height: 42px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more {
  cursor: pointer;
  margin: 10px;

  display: inline-block;
}

.show-more:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid $genius-yellow;
}

.index-album-cover {
  height: 70px;
  width: 70px;
  margin: 10px;
}